.port-img__wrapper {
  height: 172px;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #fefefe;
}

.card__latest_project {
  transition: ease all 0.5s;
  margin: unset;
}
.card__latest_projec:hover {
  background-color: var(--color-gray-100);
}

#card-section .carousel-nav {
  display: none;
}
#card-section .carousel-item {
  flex-basis: 100%;
}

@media (min-width: 768px) {
  #card-section .carousel-nav {
    display: flex;
  }
  #card-section .carousel-item {
    flex-basis: 50%;
  }
}
