@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

*,
*:focus,
*:focus-visible {
  --tw-ring-color: transparent !important;
  --tw-ring-offset-width: 0 !important;
  --tw-ring-width: 0 !important;
  font-family: "Open Sans", sans-serif;
}

input:focus,
textarea:focus {
  border: 1px solid var(--color-gray-500);
}

a.btn-primary:hover,
button.btn-primary:hover {
  background-color: var(--color-zinc-900);
}
