@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

*,
*:focus,
*:focus-visible {
  --tw-ring-color: transparent !important;
  --tw-ring-offset-width: 0 !important;
  --tw-ring-width: 0 !important;
}

input:focus,
textarea:focus {
  border: 1px solid var(--color-gray-500);
}

a.btn-primary:hover,
button.btn-primary:hover {
  background-color: var(--color-zinc-900);
}
